<!DOCTYPE html>
<html lang="en" ng-app="beerNWineApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <!-- angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <!-- ngRoute -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>

    <!-- custom script -->
    <script type="text/javascript" src="scripts/app.js"></script>
    
  <title>MEAN</title>
</head>
<body>
  <h1>welcome to the page</h1>
  <div ng-view></div>
</body>
</html>