<div ng-hide="searchForm" class="col-md-6 col-md-offset-3">
	<h1>Search for a Wine</h1>
	<hr>
	<form ng-submit="searchApi()">
		<div class="form-group">
	   <input type="text" class="form-control" ng-model="searchParams.producer" placeholder="Producer or Name" autofocus>
	 	</div>
		<div class="form-group">
			<input type="text" class="form-control" ng-model="searchParams.wineType" placeholder="Variety or Appellation">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" ng-model="searchParams.year" placeholder="Vintage (Year)">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" ng-model="searchParams.refine" placeholder="Refine Your Search">
		</div>
	 <input type="submit" class="btn btn-primary btn-block">
	</form>
</div>

<div ng-show="searchForm">
	<div class="col-md-2 col-md-offset-1">
		<br>
		<img ng-src="{{searchResult.labelUrl}}" class="img-responsive">
	</div>
	<div class="col-md-4">
		<h1><a ng-href={{searchResult.wineComUrl}}>{{searchResult.name}}</a></h1>
		<h2>
			<a ng-href={{searchResult.vineyardUrl}}>{{searchResult.vineyard}}</a>
		</h2>
		<hr>
		<h3>
			<ul>
				<li><strong>Wine Type:</strong> {{searchResult.wineType}}</li>
				<li><strong>Varietal:</strong> {{searchResult.varietal}}</li>
				<li><strong>Price:</strong> {{searchResult.price}}</li>
			</ul>
		</h3>
	</div>
	<div class="col-md-4">
		<br>
		<button ng-click="rateWine()" class="btn btn-block btn-info">Rate This Wine</button>
		<button ng-click="searchAgain()" class="btn btn-block btn-primary">Search Again</button>
	</div>
</div>

