<div class="col-md-12">
  <div ng-repeat="wine in wines">
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <br>
        <img ng-src="{{wine.labelUrl}}" class="img-responsive">
      </div>
      <div class="col-md-4">
        <h1><a ng-href={{wine.wineComUrl}}>{{wine.name}}</a></h1>
        <h2>
          <a ng-href={{wine.vineyardUrl}}>{{wine.vineyard}}</a>
        </h2>
        <hr>
        <h3>
          <ul>
            <li><strong>Wine Type:</strong> {{wine.wineType}}</li>
            <li><strong>Varietal:</strong> {{wine.varietal}}</li>
            <li><strong>Price:</strong> {{wine.price}}</li>
          </ul>
        </h3>
      </div>
      <div class="col-md-4">
        <br>
        <button ng-click="rateWine()" class="btn btn-block btn-info">Rate This Wine</button>
        <button ng-click="searchAgain()" class="btn btn-block btn-primary">Search Again</button>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <hr>
      </div>
    </div>    
  </div>
</div>
